{% extends 'base.html.twig' %}

{% block body %}

<h1>show</h1>

<div>
    <img src="{{category.image}}" alt="category">
    <h2>{{category.name}}</h2>
    <a href="{{path('category_edit', {'id': category.id})}}">update</a>
    <a href="{{path('category_delete', {'id': category.id})}}">delete</a>
</div>

<h2>List of products</h2>
<ul>
{% for product in category.products %}

    <a href="{{path('product_show', {'id': product.id})}}"><li>{{product.name}}</li></a>

{% endfor %}
</ul>

{% endblock %}
