{% extends 'base.html.twig' %}
{% use "bootstrap_4_layout.html.twig" %}

{% block body %}

{{ form_start(productForm) }}
    {{ form_row(productForm.name, {'attr': { 'placeholder': 'Name' }}) }}
    {{ form_row(productForm.category) }}
    {{ form_row(productForm.description, {'attr': { 'placeholder': 'Description' }}) }}
    {{ form_row(productForm.image, {'attr': { 'placeholder': 'Image URL' }}) }}

    <button class="btn btn-success" type="submit">
        {% if editMode %}
            update
        {% else %}
            create
        {% endif %}
    </button>
{{ form_end(productForm) }}

{% endblock %}
