{% extends 'base.html.twig' %}

{% block body %}

<h1>form</h1>

{{ form_start(productForm) }}
    {{ form_row(productForm.name, {'attr': { 'placeholder': 'Name' }}) }}
    {{ form_row(productForm.description, {'attr': { 'placeholder': 'Description' }}) }}
    {{ form_row(productForm.image, {'attr': { 'placeholder': 'Image URL' }}) }}

    <button type="submit">Submit</button>
{{ form_end(productForm) }}

{% endblock %}
